<footer class="container_fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12 mx-auto">
                <div class="row mx-0">
                    <div class="col-md-3 col-12">
                        <div class="footerlogo"><img src="assets/image/footer/footer-logo.png" alt=""></div>
                        <div class="footertext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi odio ex repudiandae iste minima reprehenderit laboriosam accusantium expedita?</div>
                        <ul class="listfooter">
                            <li><span><img src="assets/image/icon/map-marker-alt.svg" alt=""></span>125/Single Streen Road Califorina</li>
                            <li><a href="#"><span><img src="assets/image/icon/globe-africa.svg" alt=""></span>www.user@gmail.com</a></li>
                            <li><a href="#"><span><img src="assets/image/icon/envelope.svg" alt=""></span>contact@user.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="row mx-0 h-100 padding">
                            <div class="col-12 col-sm-6">
                                <div class="headingfooter">Information</div>
                                <ul class="list-middle">
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>About Our Shop</a></li>
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>Top Sellers</a></li>
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>Our Blog</a></li>
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>New Products</a></li>
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>Secure Shopping</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="headingfooter">My Account</div>
                                <ul class="list-middle">
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>About Our Shop</a></li>
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>Top Sellers</a></li>
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>Our Blog</a></li>
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>New Products</a></li>
                                    <li><a href=""><span><img src="assets/image/icon/arrowright.svg" alt="arrowright"></span>Secure Shopping</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="row mx-0 footerlast">
                            <div class="col-12">
                                <div class="headingfooter">photo Instagram</div>
                            </div>
                            <div class="col-12">
                                <ul class="imagelast">
                                    <li><span class="footerimage"><img src="assets/image/footer/insta1.png" alt="insta1"></span></li>
                                    <li><span class="footerimage"><img src="assets/image/footer/insta2.png" alt="insta1"></span></li>
                                    <li><span class="footerimage"><img src="assets/image/footer/insta3.png" alt="insta1"></span></li>

                                </ul>
                                <ul class="imagelast">
                                    <li><span class="footerimage"><img src="assets/image/footer/insta4.png" alt="insta1"></span></li>
                                    <li><span class="footerimage"><img src="assets/image/footer/insta5.png" alt="insta1"></span></li>
                                    <li><span class="footerimage"><img src="assets/image/footer/insta6.png" alt="insta1"></span></li>
                                </ul>
                                <ul class="imagelast">
                                    <li><span class="footerimage"><img src="assets/image/footer/insta7.png" alt="insta1"></span></li>
                                    <li><span class="footerimage"><img src="assets/image/footer/insta1.png" alt="insta1"></span></li>
                                    <li><span class="footerimage"><img src="assets/image/footer/insta2.png" alt="insta1"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>