<nav class="navbar container_fluid ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-12">
                <div class="row mx-0 justify-content-center mainrow">
                    <div class="col-6 col-lg-3">
                        <div class="logo_header"><img src="./assets/image/header/logo.png" alt=""></div>
                    </div>
                    <div class="col-12 col-md-9 nevbarcontent">
                        <ul class="navbarList">
                            <li><a href="#">home</a></li>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">shop</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">contact</a></li>
                            <li><a class="cartadd" href="#"><span class="listimage mx-1s"><img src="./assets/image/header/shop-cart.png" alt="shop-cart"> <span class="cartitem">1</span></span>$0.00</a></li>
                        </ul>
                    </div>
                    <div class="togleicon col-6">
                        <div type="button" class="crosicon" onclick="openNav()"><img src="./assets/image/header/bars.svg" alt="bars"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--  -->
<!-- <div class="offcanvas sidepanel">
    <div class="header">
        <div class="logo"><img src="./assets/image/header/logo.png" alt="logo"></div>
        <div type="button" class="crosicon closebtn" onclick="closeNav()"><img src="./assets/image/header/crosicon.svg" alt="crosicon"></div>
    </div>
    <div class="offcanvasbody">
        <ul class="menulist">
            <li><a href="#">home</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">shop</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </div>
</div> -->

