nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.5s ease-in-out;
    height: auto;
    background-color: transparent;
    & .logo_header {
        width: fit-content;
        height: 71px;
    }
    & .mainrow {
        padding: 11px;
        & .navbarList {
            display: flex;
            align-items: center;
            justify-content: end;
            height: 100%;
            gap: 36px;

            & li {
                & a {
                    font-size: 14px;
                    font-weight: 400;
                    color: white;
                    text-transform: capitalize;
                    & .listimage {
                        display: inline-block;
                        width: 22px;
                        height: 18px;
                        position: relative;
                        & img {
                        }
                    }
                    & .cartitem {
                        position: absolute;
                        border-radius: 50%;
                        background: red;
                        color: #fff;
                        width: 12px;
                        height: 12px;
                        font-size: 10px;
                        font-weight: 600;
                        left: 14px;
                        top: -7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &.cartadd {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 3px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
    &.active {
        background-color: #2b9b49e8;
        box-shadow: 2px 1px 6px 0px #0000004f;
    }
    & .togleicon {
        display: none;

        & .crosicon {
        }
    }
}

// .offcanvas {
//     width: 0;
//     position: fixed;
//     z-index: 1;
//     height: 100vh;
//     top: 0;
//     left: 0;
//     display: none;
//     height: 100vh;
//     background-color: #000;
//     padding: 1rem;
//     overflow-x: hidden;
//     transition: 0.5s;
//     & .header {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         & .logo {
//             height: 90px;
//         }
//         & .crosicon {
//             width: 30px;
//             height: 30px;
//         }
//     }
//     & .offcanvasbody {
//         padding: 1rem;
//         & .menulist {
//             display: flex;
//             align-items: start;
//             flex-direction: column;
//             gap: 0.5rem;
//             justify-content: start;
//             & li {
//                 padding: 0.5rem 0;
//                 & a {
//                     color: white;
//                 }
//             }
//         }
//     }
//     & .closebtn {
//         position: absolute;
//         top: 0;
//         right: 25px;
//         font-size: 36px;
//     }
// }
@media (min-width: 320px) and (max-width: 575.99px) {
    nav {
        & .mainrow {
            & .nevbarcontent {
                display: none;
            }
            & .logo_header {
            }
            & .navbarList {
                & li {
                    & a {
                        & .listimage {
                            & img {
                            }
                        }
                        & .cartitem {
                        }
                        &.cartadd {
                        }
                    }
                }
            }
        }
        &.active {
        }
        & .togleicon {
            display: block;
            align-items: center;
            display: flex;
            justify-content: end;
            & .crosicon {
                width: 30px;
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 767.99px) {
    nav {
        & .mainrow {
            & .nevbarcontent {
                display: none;
            }
            & .logo_header {
            }
            & .navbarList {
                & li {
                    & a {
                        & .listimage {
                            & img {
                            }
                        }
                        & .cartitem {
                        }
                        &.cartadd {
                        }
                    }
                }
            }
        }
        &.active {
        }
        & .togleicon {
            display: block;
            align-items: center;
            display: flex;
            justify-content: end;
            & .crosicon {
                width: 30px;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 991.99px) {
    nav {
        & .mainrow {
            & .logo_header {
            }
            & .navbarList {
                & li {
                    & a {
                        & .listimage {
                            & img {
                            }
                        }
                        & .cartitem {
                        }
                        &.cartadd {
                        }
                    }
                }
            }
            & .nevbarcontent {
                display: none;
            }
        }
        &.active {
        }
        & .togleicon {
            display: block;
            align-items: center;
            display: flex;
            justify-content: end;

            & .crosicon {
                width: 30px;
            }
        }
    }
}
@media (min-width: 993px) and (max-width: 1025.99px) {
    nav {
        & .mainrow {
            & .logo_header {
                width: fit-content;
                height: 71px;
            }
            padding: 11px;
            & .navbarList {
                display: flex;
                align-items: center;
                justify-content: end;
                height: 100%;
                gap: 36px;

                & li {
                    & a {
                        font-size: 14px;
                        font-weight: 400;
                        color: white;
                        text-transform: capitalize;
                        & .listimage {
                            display: inline-block;
                            width: 22px;
                            height: 18px;
                            position: relative;
                            & img {
                            }
                        }
                        & .cartitem {
                            position: absolute;
                            border-radius: 50%;
                            background: red;
                            color: #fff;
                            width: 12px;
                            height: 12px;
                            font-size: 10px;
                            font-weight: 600;
                            left: 14px;
                            top: -7px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &.cartadd {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 3px;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        &.active {
            background-color: #2b9b49e8;
            box-shadow: 2px 1px 6px 0px #0000004f;
        }
        & .togleicon {
            display: none;

            & .crosicon {
                display: none;
            }
        }
    }
}
@media (min-width: 1027px) and (max-width: 0.1281px) {
}
